* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scrollbar-width: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/*debug*/

.debug .jumbotron {


    padding-top: 70px;

}

.debug .container-jumbo {

    border: dotted 2px black;
    height: 100%;
}

.debug .first-impression {


    border: dashed 1px black;
}

h1 {
    font-size: 55px;
    text-align: center;
}

.debug .centrato {
    width: 60%;
    max-width: 1170px;
    margin: auto;
    border: dotted 2px black;
}

.debug .sopra-colonne {
    height: 200px;
    background-color: rgb(194, 161, 224);
}

.debug .layout {
    background-color: antiquewhite;
    height: 800px;
}

.debug .colonna {
    background-color: rgb(236, 203, 120);
    border: dashed 1px black;
}

.debug .sotto-colonne {
    height: 200px;
    background-color: rgb(194, 161, 224);
}

.debug .trova-partner {
    height: 400px;
    background-color: rgb(76, 226, 76)
}

.debug .drop-bussines {
    background-color: rgb(187, 135, 234);
    height: 300px;
}

.container-cubi {
    background-color: greenyellow;
    width: 100vw;
    height: 400px;
}

.debug .cubo {
    border: dotted 1px black;
    height: 100%;
}

.debug .cubetti {
    background-color: rgba(110, 20, 17, 0.5);
    width: calc(100% / 2);
    height: calc(100% / 2);
    border: dashed 1px black;
}

.debug .prova-gratuita {
    height: 300px;
    background-color: rgb(127, 220, 220);
}

.jumbotron.bg-largo {
    background-color: #B4D0E7;
}

.debug .faq {
    background-color: rgb(182, 145, 217);
    height: 500px;
    flex-direction: column;
}

.debug .domanda {
    border: 2px dashed black;
    width: 100%;
    height: 150px;
}

.debug footer {
    background-color: black;
}

.debug .pie-pagina {
    align-items: center;
    background-color: aqua;
}

.debug .info-finali {
    width: calc(100% / 5);
    padding: 30px 10px;
    border: dashed 1px black;
}

.debug .lingua {
    background-color: aquamarine;
    height: 100px;
    width: 100px;
}

.bottone {
    background-color: #0061FF;
    padding: 5px;
    color: white
}


/*CSS*/

.paragrafo {
    width: 30%;
    padding-top: 60px;
    font-size: 14px;
    display: inline-block;
}

.first-impression img {
    width: 70%;
}

ul,
li {
    display: inline-block;
}

nav.navigation-sinistra.flex {
    padding: 10px 10px;
}

.navigation-sinistra img {
    margin-right: 10px;
    width: 100px;
    height: 20px;

}

.navigation-sinistra .head {
    padding: 0px 10px 5px 10px;
}

.navigation-destra .head {
    padding: 5px 10px;
}

header {
    font-size: 12px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-bottom: 70px;
}

.navigation-destra {
    justify-content: flex-end;
}

.jumbotron {
    padding-top: 70px;
}

.container-jumbo {
    width: 70%;
    max-width: 1170px;
    margin: auto;
}

.colonna {
    width: calc(100% / 3);
}

.layout.secondo {
    flex-wrap: wrap;
}

.cubo {
    width: calc(100% / 3);
}

.cubo.mezzo {
    overflow: auto;
}


li {
    display: inline-block;
    list-style: none;

}